@model IEnumerable<MinesweeperWebApp.Models.GameStateModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSaved)
            </th>
            <th>
                <h5>Play</h5>
            </th>
            <th>
                <h5>Delete</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.UserId</td>
                <td>@game.DateSaved.ToString("g")</td>
                <td>
                    <form asp-controller="GameStorage" asp-action="ResumeGame" method="post">
                        <input type="hidden" name="id" value="@game.Id" />
                        <button type="submit" class="btn btn-primary">Resume Game</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="GameStorage" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@game.Id" />
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
